@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --tittle-color: #1b2845;
    --nav-color: #386641;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;

}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    background-color: rgba(201, 76, 76, 0.3);
    margin-left: 550px;
    top: 200px;
}

.hero article {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: rgba(201, 76, 76, 0.3);
    margin: 20px;
    padding: 10px;
    height: 20%;
    margin-top: 500px;
}

.hero article img {
    width: 20%;
    height: auto;
}

.hero article p {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example{
    width: 20%;
    height: 300px;
}

p, a{
    font-family: "montserrat", sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: var(--nav-color);
}

h1, h2{
    font-family: "merriweather", serif;
    font-size: 60px;
    color: var(--tittle-color);
}
